<div class="container-fluid ">
    <div class="row">
        <div style="text-align: center;" class="col-md-6">
            <h2 style="color: plum;"> Contact Our </h2>
            <h2> Customer Support Center </h2>
        </div>
        <div style="text-align: center;" class="col-md-6">
            <img src="\assets\macbook-air-m1.png" alt="computer_image" width="150px" height="150px">
        </div>
    </div>
    <div style="text-align: center; margin: 0px;">
        <h4> Contact Information</h4>
        <p> Please fill out your Contact Information below. </p>
    </div> 
</div>

