<div class="d-flex justify-content-center">
    <form [formGroup] = "userForm" (submit)="saveUser()"> 
        <div style="text-align:left; margin: 2px 0px;">
            <label>  Name <span style="color: purple; font-size: 20px;"> <b> * </b> </span> </label>
        </div>
        <div class="row">    
            <div class="form-group col-md-6" style="width: 400px;">
                <input formControlName="fname" class="form-control" 
                [class.is-invalid] = "userForm.controls['fname'].invalid && 
                                      userForm.controls['fname'].touched">  
                <control-messages [control]="userForm.get('fname')" class="text-danger"></control-messages>
                <label> First Name</label> 
            </div>
            <div class="form-group col-md-6" style="width: 400px;">
                <input class="form-control" formControlName="lname"
                [class.is-invalid] = "userForm.controls['lname'].invalid && 
                                      userForm.controls['lname'].touched">
                <control-messages [control]="userForm.get('lname')" class="text-danger"></control-messages>
                <label> Last Name</label>
            </div>    
        </div>
        <div  style="margin: 5px 0px; text-align:left;">
            <div class="form-group">
                <label> Email <span style="color: purple; font-size: 20px;"> <b> * </b> </span> </label>
                <input class="form-control" formControlName="email" style="width: 500px;"
                [class.is-invalid] = "userForm.controls['email'].invalid && 
                                      userForm.controls['email'].touched">
                <control-messages [control]="userForm.get('email')" class="text-danger"></control-messages>
            </div>
            <div class="form-group">
                <label>  Phone <span style="color: purple; font-size: 20px;"> <b> * </b> </span>  </label>
                <input type="tel" class="form-control" formControlName="phone" style="width: 500px;"
                [class.is-invalid] = "userForm.controls['phone'].invalid && 
                                      userForm.controls['phone'].touched">
                <control-messages [control]="userForm.get('phone')" class="text-danger"></control-messages>
            </div>
            <div class="form-group">
                <label>  Address <span style="color: purple; font-size: 20px;"> <b> * </b> </span>  </label>
                <textarea formControlName="addr" class="form-control" style="width: 500px;"
                [class.is-invalid] = "userForm.controls['addr'].invalid && 
                                      userForm.controls['addr'].touched"></textarea> 
                
                <control-messages [control]="userForm.get('addr')" class="text-danger"></control-messages>
            </div>
        </div>
        <button type="submit" [disabled]="!userForm.valid" class="btn btn-primary"> Submit </button>
    </form> 
</div>
   

